
body {
  font: 13px "Helvetica";
  color: black;
  width: 100%;
  margin: 0px;
  height: 100%;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none; 
  user-select: none;
}

.Game-Main-Container {
  width: 100%;
  min-width: 1080px;
  height: auto;
}

/* TOP BAR */

.Top-Bar {
  widows: 100%;
  border-bottom: 1px solid black;
  padding: 5px;
}

.Top-Bar-Div {
  display: table-cell;
  width: 200px;
}

/* LEFT PANEL */

.Left-Panel {
  width: 25%;
  min-width: 350px;
  max-width: 350px;
  display: inline-block;
  font-size: 13px;
  padding: 5px;
  vertical-align: top;
  min-height: 400px;
}

.Resource-Cell-Name {
  width: 140px;
  max-width: 140px;
  display: table-cell;
  padding: 1px;
  padding-left: 3px;
  font-size: 13px;
}

.Resource-Cell-Value {
  width: 60px;
  max-width: 60px;
  display: table-cell;
  font-size: 14px;
 
}

.Resource-Cell-MaxValue {
  width: 63px;
  max-width: 63px;
  display: table-cell;
  color: grey;
  font-size: 90%;
  font-size: 13px;
}

.Resource-Cell-IncRatio {
  width: 80px;
  max-width: 85px;
  display: table-cell;
  font-size: 13px;
}

  .Resource-Cell-IncRatio:hover {
    font-weight: bold;
  }

/* MIDDLE PANEL */

.Middle-Panel {
  min-width: 600px;
  max-width: 650px;
  width: 630px;
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
}

.Resource-Span-Sec {
  font-size: 11px;
}

.Middle-Panel-Tabs-Selector {
  border-bottom: 1px  black;
  padding: 2px;
  margin-top: 15px;
  margin-bottom: 3px;
}

.Middle-Panel-Tab-Name {
  margin: 3px;
  margin-bottom: 7px;
  font-size: 14px;
  cursor: pointer;
}

.Middle-Panel-Game-View {
  border: 1px solid black;
  min-height: 250px;
  border-radius: 5px;
  margin-top: 5px;
}

/* MIDDLE PANEL ACTIVITY */

.Middle-Panel-Activity-Tab {
  text-align: center;
  padding: 15px;
}

.Middle-Panel-Activity-Container,.Middle-Panel-RoomObj-Container,.Middle-Panel-Job-Container {
  width: 250;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.Activity-Btn {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid grey;
  color: grey;
  padding: 10px;
  padding-right: 0;
  padding-left: 0;
  width: 250px;
  max-width: 250px;
  border-radius: 3px;
  text-align: center;
  display: table-cell;
  height: 50px;
  vertical-align: middle;
  line-height: 1;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.Activity-Btn.Upgradable, .RoomObject-Btn.Upgradable {
  border: 1px solid black;
  color: black;
}

  .Activity-Btn:hover {
    background-color: whitesmoke;
  }

  .Activity-Btn:active {
    background-color: white;
    border-color: white;
  }

  .Activity-Btn:focus {
    outline: none;
  }


.Activity-Btn-Label {
  display: inline-block;
  padding-bottom: 5px;
}

.Activity-Btn-CostContainer {
    display: block;
    border: 1px dotted black;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 3px;
}

.Activity-Btn-CostRow {
  font-size: 10px;
  display: block;
}

.Activity-Btn-Sell {
  float: right;
  padding: 1px 7px 1px 7px !important;
  margin: -1px 0;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-right: none;
  border-radius: 4px 0px 0px 4px;
  max-width: 35px;
  cursor: pointer;
  color: black;
}

  .Activity-Btn-Sell:hover,.RoomObject-Btn-Sell:hover {
    background-color: whitesmoke;
  }

  .Activity-Btn-Sell:focus,.RoomObject-Btn-Sell:focus {
    outline: none;
  }

.Activity-Btn-Grade {
  float: right;
  padding: 1px 5px 1px 5px !important;
  margin: -1px 0;
  margin-right: 2px;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 7px;
  width: 19px;
  cursor: pointer;
  color: black;
}

  .Activity-Btn-Grade:hover {
    background-color: whitesmoke;
  }

  .Activity-Btn-Grade:focus {
    outline: none;
  }

.Activity-Btn-Grade.Plus {
  border-radius: 0px 5px 5px 0px;
  border-left-color: white;
}

.Activity-Btn-Grade.Minus {
  border-radius: 5px 0px 0px 5px;
  margin-right: 0px;
  border-right: none;
}

/* MIDDLE PANEL ROOM */

.Middle-Panel-City-Tab {
  margin: 5px;
  padding: 3px
}

.Middle-Panel-Room-Panel, .Middle-Panel-Job-Panel {
  text-align: center;
  margin-top: 10px;
}

.Middle-Panel-Room-Slot {
  text-align: center;
  width: 80px;
  color: black;
  border: 1px solid black;
  background-color: lightgray;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
  margin-left: 10px;
}

.Middle-Panel-City-Section-Container {
  border-bottom: 1px dashed black;
  padding: 7px;
  margin: 10px;
}

.Middle-Panel-Section-Title {
  font-size: 19px;
}

.Middle-Panel-Room-Slot-Value {
  font-size: 12px;
}

.RoomObject-Btn {
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid grey;
  color: grey;
  padding: 10px;
  padding-right: 0;
  padding-left: 0;
  width: 250px;
  max-width: 250px;
  border-radius: 3px;
  text-align: center;
  display: table-cell;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.RoomObject-Btn-Sell {
  float: right;
  padding: 1px 7px 1px 7px !important;
  margin: -1px -1px;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-right: 1px solid grey;
  border-radius: 4px 0px 0px 4px;
  max-width: 35px;
  cursor: pointer;
  color: black;
}

.RoomObject-Btn.Active {
  box-sizing: border-box;
  border-left: 8px solid green;
}

.RoomObject-Btn-Label {
  display: inline-block;
  font-size: 90%;
}

/* MIDDLE PANEL JOB */

.Middle-Panel-Job-Panel {
  text-align: left;
}

.Middle-Panel-Job-Container {
  display: table-row-group;
}

.Job-Btn {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid black;
  color: black;
  padding: 5px;
  width: 200px;
  max-width: 200px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 30px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.Job-Btn-Label {
  display: inline-block;
  font-size: 90%;
}

.Job-Btn-Plus, .Job-Btn-Minus {
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
  background-color: lightgrey;
  border-radius: 3px;
  color: grey;
  width: 10px;
  text-align: center;
}

  .Job-Btn-Plus:hover, .Job-Btn-Minus:hover {
    color: black
  }
  
.Job-TimeSlot-Label {
  display: inline-block;
  margin-left: 5px;
}

.Middle-Panel-JobExp-Container {
  margin: 5px;
  border: 1px  black;
  padding: 5px;
  text-align: center;
  display: inline-block;
}

.Middle-Panel-JobExp-Grade {
  display: inline-block;
  font-size: 12px;
}

.Middle-Panel-JobExp-Exp-Container {
  margin-left: 5px;
  height: 6px;
  border: 1px solid black;
  border-radius: 3px;
  min-width: 150px;
  max-width: 150px;
}

.Middle-Panel-JobExp-Exp-Filler {
  height: 100%;
  background-color: black;
}

/* MIDDLE PANEL BAG RESOURCE */

.Middle-Panel-Bag-Resources {
  border-top: none;
  height: fit-content;
  margin-top: 5px;
}

.Belt-Resource-Cell-Name {
  display: table-cell;
  font-size: 12px;
  min-width: 40px;
  max-width: 50px;
}

.Belt-Resource-Cell-Icon-Container {
  display: table-cell;
  padding-right: 5px;
  vertical-align: top;
}

.Belt-Resource-Cell-Icon-Img {
  margin-top: 3px;
  vertical-align: middle;
}

.Belt-Resource-Cell-Value {
  display: table-cell;
  font-size: 12px;
  min-width: 47px;
  max-width: 52px;
}

.Belt-Resource-Cell-MaxValue {
  display: table-cell;
  font-size: 9px;
  min-width: 20px;
  max-width: 30px;
}

.Belt-Resource-Cell-IncRatio {
  font-size: 10px;
  text-align: left;
  min-width: 110px;
  max-width: 110px;
}

.Belt-Resource-Cell-IncRatio:hover {
  font-weight: bold;
}

