body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: black;
}

.Resource-Span-Sec {
  font-size: 11px;
}

.Activity-Btn {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  width: 250px;
  border-radius: 3px;
  font: 13px "Century Gothic", Futura, sans-serif;
}

.Activity-Btn:active {
  background-color: #bdbdbd;
}

.Activity-Btn:focus {
  outline: none;
}



